<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="registerDiv">
    <%= link_to :root, class: 'back' do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
    <% end %>
    <p style="font-size: 20px">REGISTER</p>
    <%= f.submit 'NEXT', class: 'log-in' %>
  </div>
  <div class="seprator"></div>
  <div class="text-center form">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="image-upload mt-3">
      <label for="user_image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" class="placeholder"/>
        Upload picture
      </label>
      <input type="file" name="user[image]" id="user_image">
    </div>

    <div class="form-floating">
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Full name" %>
      <label for="floatingInput">Full name</label>
    </div>
 
    <div class="form-floating">
      <%= f.email_field :email, autocomplete: "email", id: "InputEmail", class: 'form-control', placeholder: "Email" %>
      <label for="floatingInput">Email </label>
    </div>


    <div class="form-floating">
      <%= f.password_field :password, autocomplete: "new-password", id: "floatingPassword", class: "form-control", placeholder: "Password"  %>
      <label for="floatingPassword">Password</label>
    </div>
  </div>
<% end %>

<div style= "height: 63vh;background-color:#f5f6f8;"></div>