<nav class="navbar navbar-expand-lg top">
  <div class="container-fluid header">
    <i data-feather="search"></i>
    <%= link_to 'Transactions' , group_path(params[:id]), class: "navbar-brand" %>
    <button class="navbar-toggler ml-auto custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Categories', groups_path, class: "nav-link white" %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete,class: 'signout' %>
      </div>
    </div>
  </div>
</nav>
<% total = 0 %>
<% @transactions.each do |entity| %>
  <% total += entity.amount %>
<% end %>
<p class="total text-muted">Total: <span>$<%= total %></span></p>
<div class="seprator"></div>

<div class="transactions">
  <% @transactions.each do |transaction| %>
      <div class="transaction">
        <%= image_tag(Group.find(params[:id]).icon, class: 'img') %>
        <div class="category_details text-muted">
          <p class="name"><%= transaction.name %></p>
          <p class="date"><%= transaction.created_at.day %> <%= @months[transaction.created_at.month] %> <%= transaction.created_at.year%></p>
        </div>
        <p class="amount">$<%= transaction.amount %></p>
      </div>
  <% end %>
</div>
<div class="new">
  <%= link_to 'Add new transaction', new_group_transaction_path(params[:id]), class: 'newCategory' %>
</div>
